<!-- ====== Navbar Section Start -->
<header
   x-data="
   {
   navbarOpen: false
   }
   "
   class="flex items-center w-full bg-white dark:bg-dark"
   >
   <div class="container mx-auto">
      <div class="relative flex items-center justify-between -mx-4">
         <div class="max-w-full px-4 w-60">
            <a href="/" class="block w-full py-5">
            <img
               src="/images/logo.jpg"
               alt="logo"
               />
            </a>
         </div>
         <div class="flex items-center justify-between w-full px-4">
            <div>
               <nav
                  :class="!navbarOpen && 'hidden' "
                  id="navbarCollapse"
                  class="absolute right-4 top-full w-full max-w-[250px] rounded-lg bg-white py-5 px-6 shadow lg:static lg:block lg:w-full lg:max-w-full lg:shadow-none dark:bg-dark-2 lg:dark:bg-transparent"
                  >
                  <ul class="block lg:flex">
                     <li>
                        <a
                           href="/"
                           class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex "
                           >
                        Home
                        </a>
                     </li>
                     <li>
                        <a
                           href="/"
                           class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex "
                           >
                        Workshop
                        </a>
                     </li>
                     <li>
                        <a
                           href="javascript:void(0)"
                           class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex "
                           >
                        Features
                        </a>
                     </li>
                  </ul>
               </nav>
            </div>
            {{#if user}}
               <div class="relative justify-end hidden pr-16 sm:flex lg:pr-0">
                  <div onclick="ShowNav()" class="flex items-center cursor-pointer">
                     <span class="mr-2">{{user.full_name}}</span>
                     <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
                  </div>

                  {{!-- Dropdown --}}
                  <!-- component -->
                  <div id="navigationUser" class="absolute w-72 top-10 hidden items-center justify-center bg-gray-100 shadow-sm">
                     <div
                     class="w-full max-w-sm rounded-lg bg-white p-3 drop-shadow-xl divide-y divide-gray-200"
                  >
                     <div aria-label="header" class="flex space-x-4 items-center p-4">
                        <div aria-label="avatar" class="flex mr-auto items-center space-x-4">
                        <img
                           src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                           alt="avatar Evan You"
                           class="w-16 h-16 shrink-0 rounded-full"
                        />
                        <div class="space-y-2 flex flex-col flex-1 truncate">
                           <div class="font-medium relative text-xl leading-tight text-gray-900">
                              <span class="flex">
                              <span class="truncate relative pr-8">
                                 {{user.full_name}}
                                 
                              </span>
                           </div>
                           <p class="font-normal text-base leading-tight text-gray-500 truncate">
                              {{user.email}}
                           </p>
                        </div>
                        </div>
                     </div>
                     <div aria-label="navigation" class="py-2">
                        <nav class="grid gap-1">
                        <a
                           href="/user/profile"
                           class="flex items-center leading-6 space-x-3 py-3 px-4 w-full text-lg text-gray-600 focus:outline-none hover:bg-gray-100 rounded-md"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true"
                              class="w-7 h-7"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              stroke-width="2"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                           </svg>
                           <span>Account Settings</span>
                        </a>
                        {{#if (eq user.role "admin")}}
                           {{!-- Setting --}}
                           <a
                              href="/admin"
                              class="flex items-center leading-6 space-x-3 py-3 px-4 w-full text-lg text-gray-600 focus:outline-none hover:bg-gray-100 rounded-md"
                           >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 aria-hidden="true"
                                 class="w-7 h-7"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                              >
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                 d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                                 ></path>
                                 <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                              </svg>
                              <span>Dashboard</span>
                           </a>
                        {{/if}}
                        
                           {{!-- Registered --}}
                        {{#if (eq user.role "participant")}}
                        <a
                           href="/user/events"
                           class="flex items-center leading-6 space-x-3 py-3 px-4 w-full text-lg text-gray-600 focus:outline-none hover:bg-gray-100 rounded-md"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true"
                              class="w-7 h-7"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              stroke-width="2"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path
                              d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
                              ></path>
                              <path d="M12 16v.01"></path>
                              <path
                              d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                              ></path>
                           </svg>
                           <span>Registered events</span>
                        </a>
                        {{/if}}

                        {{#if (eq user.role "speaker")}}
                        {{!-- Registered --}}
                        <a
                           href="/user/events"
                           class="flex items-center leading-6 space-x-3 py-3 px-4 w-full text-lg text-gray-600 focus:outline-none hover:bg-gray-100 rounded-md"
                        >
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 aria-hidden="true"
                                 class="w-7 h-7"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                              >
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                 d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
                                 ></path>
                                 <path d="M12 16v.01"></path>
                                 <path
                                 d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                 ></path>
                              </svg>
                           <span>List Event</span>
                        </a>
                        {{/if}}
                        </nav>
                     </div>
                     
                     {{!-- Logout --}}
                     <div aria-label="footer" class="pt-2">
                        <a 
                        href="/logout"
                           class="flex items-center space-x-3 py-3 px-4 w-full leading-6 text-lg text-gray-600 focus:outline-none hover:bg-gray-100 rounded-md"
                           >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              aria-hidden="true"
                              class="w-7 h-7"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              stroke-width="2"
                              stroke="currentColor"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                           >
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path
                                 d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                              ></path>
                              <path d="M9 12h12l-3 -3"></path>
                              <path d="M18 15l3 -3"></path>
                           </svg>
                           <span>Logout</span>
                        </a>
                     </div>
                  </div>
                  </div>
               </div>
            {{/if}}
         </div>
      </div>
   </div>
</header>

<!-- ====== Navbar Section End -->

<script>
   function ShowNav(){
      const nav = document.getElementById('navigationUser');
      // Toggle visibility
      if (nav.style.display === 'none') {
         // If the element is hidden, show it
         nav.style.display = 'flex'; // or 'inline', 'inline-block', etc., depending on the element type
      } else {
         // If the element is visible, hide it
         nav.style.display = 'none';
      }
   }
</script>