<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <title>Work shop</title>
</head>
<body>
    <div class="app">
        <div class="absolute w-1/5 right-0 top-48">
            {{> flash}}
        </div>
    
        <div>
           {{{body}}} 
        </div>

    </div>

</body>
</html>